body {
    background-color: steelblue;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-gap: 2em;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        'top-box top-box top-box'
        'job-form job-form job-form'
        'history history history';
    justify-items: center;
}

.top-box {
    grid-area: top-box;
    width: 90%;
    font-family: 'Fredoka One', cursive;
    font-size: 1.5em;
    color: whitesmoke;
    text-align: center;
    display: block;
}

.job-form {
    grid-area: job-form;
    width: 30%;
    text-align: center;
    display: block;

}

.job-form > form > input[type=text], input[type=date], select{
    width: 100%;
    padding: 1em;
    margin: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background-color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: slategray;
}

.btn {
    width: 100%;
    padding: 1em;
    margin: 0.5em;
    color: whitesmoke;
    border-radius: 0.3em;
    font-family: 'Boogaloo', cursive;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.table-btn {
    width: 100%;
    padding: 0.5em;
    color: whitesmoke;
    border-radius: 0.3em;
    font-family: 'Boogaloo', cursive;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.btn:hover, .table-btn:hover {
    cursor: pointer;
}

.btn:active {
    border: solid 1px;
}

#submit-button, #btn-edit {
    background-color: #4CAF50;
}

#submit-button:hover, #btn-edit:hover {
    background-color: #45a049;
}

#reset-button, #btn-delete {
    background-color: crimson;
}

#reset-button:hover, #btn-delete:hover {
    background-color: rgb(192, 21, 55);
}

#url {
    background-color: rgb(82, 135, 179);
    text-decoration: none;
    font-size: 0.6em;
}

.history {
    grid-area: history;
    display: block;
    width: 90%;
}

table {
    font-family: 'Boogaloo', cursive;
    font-size: 1.4em;
    width: 90%;
    color: slategray;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.6em;
}

tr, th {
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: rgb(214, 215, 216);
}

.footer {
    display: block;
    width: 100%;
    margin-top: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: slategray;
    color: whitesmoke;
    font-family: 'Boogaloo', cursive;
    text-align: center;
}